body {
	font-family: "Segoe UI", Arial, sans-serif;
	background: #f1f1f1;
	color: #5f5f5f;
}

header {
	text-align: center;
}

.inputs {
  height: 32px;
}

label {
  font-size: 24px;
}

.quiz {
  display: flex;
  justify-content: center;
  text-align: center;
  max-height: 500px;
}

.picWrapper {
text-decoration: none;
 margin-left: 40px;
 margin-right: 40px;
}

.picWrapper:hover .image {
	opacity: 0.3;
}
  
.picWrapper:hover .middle {
	opacity: 1;
}

.picWrapper:active .middle {
	opacity: 1;
}
  
.image {
  opacity: 1;
  transition: .5s ease;
  width: 100%;
}
  
.middle {
	opacity: 0;
	position: relative;
	top: -50%
}
   
.text {
	font-size: 100px;
}

.headers {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerHeader {
	text-align: center;
}

a {
	color: #111
}

.startBtn {
	background-color:black;
  border: none;
  color: white;
  padding: 20px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 40px 2px;
  cursor: pointer;
}

.inputForms {
  margin: auto;
  width: 70%;
  text-align: center;
  padding: 10px;
}

div.resultBlock {
  display: inline-block;
  vertical-align: top;
  margin: 1em;
  border: 1px solid #ccc;
  width: 40%;
  max-height: 400px;
}
    
div.resultBlock:hover {
  border: 1px solid #777;
}
    
div.resultBlock img {
  width: 40%;
  margin: 1em;
}
    
div.desc {
  padding: 5px;
  min-height: 70px;
  text-align: right; 
}