/* body {
	font-family: "Segoe UI", Arial, sans-serif;
	background: #f1f1f1;
	color: #5f5f5f;
} */

header {
	text-align: center;
}

label {
  font-size: 24px;
}

.quiz {
   font-family: arial;
  display: flex;
  justify-content: center;
  text-align: center;
  max-height: 500px;
}

.picWrapper {
text-decoration: none;
 margin-left: 40px;
 margin-right: 40px;
}

.picWrapper:hover .image {
	opacity: 0.3;
}
  
.picWrapper:hover .middle {
	opacity: 1;
}

.picWrapper:active .middle {
	opacity: 1;
}
  
.image {
  opacity: 1;
  transition: .5s ease;
  width: 100%;
}
  
.middle {
	opacity: 0;
	position: relative;
	top: -50%
}
   
.text {
	font-size: 100px;
}

.headers {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Gill Sans MT, Gill Sans, Futura, Century Gothic, sans-serif;

  
}

.footerHeader {
	text-align: center;
}

a {
	color: #111
}

.startBtn {
  position: absolute;
  text-align: center;
  top: 245px;
  left: 38%;
  background-color:black;
  border: none;
  color: white;
  padding: 20px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 40px 2px;
  cursor: pointer;
  background-color: black;
}

div.resultBlock { 
  background: #f1f1f1;
  display: inline-flex;
  margin: 1em;
  border: 1px solid #ccc;
  width: 40%;
  max-height: 600px;
}		
    
div.resultBlock:hover {
  border: 1px solid #777;
}
    
div.resultBlock img {
  width: 40%;
  padding: 1em;
}
    
div.desc {
  padding: 5px;
  min-height: 70px;
  text-align: right; 
  margin: 1em;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 32px; 
  color: #142867;
  text-align: left;

}

body{
  font-family: "calibri";
  background-image: url('background.jpg');
  background-repeat: repeat;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

#general{
  display: block;
width: 100%;
	margin: 0px auto;
  }
  
#container{
	background-image: url('background.jpg');
	background-repeat: repeat;
	display: block;
	width: 100%;
	background-color: #fff;
	margin: 0px auto;
	text-align: center;
	padding-top: 80px;
  }
  
#container .greeting{
	position: absolute;
	left: 40%;
	margin-left: -110px;
	background-color: #000;
	padding: 10px;
	margin-top: -20px;
	width: 450px;
	font-size: 26px;
	font-family: arial;
	font-weight: 200;
	letter-spacing: 6px;
	color: #fff;
	z-index: 999 !important;
	
  }
  
.boxshadow { 
	width: 80%;
	/*max-width: 588px;
	left: 50%;
	margin-left: -294px;
	*/ 
	margin: 0px auto !important;
	padding-top: 60px;
	height: 250px;
	text-align:center;
	background-color: white;
	border: 3px solid #000 !important; 
	outline: none !important; 
	-webkit-box-shadow: 12px 12px 0px 0px rgba(0, 0, 0, 1) !important; 
	-moz-box-shadow:    12px 12px 0px 0px rgba(0, 0, 0, 1) !important;
	box-shadow:         12px 12px 0px 0px rgba(0, 0, 0, 1) !important;
	z-index: 99;
	}
	  
	  
  .ex{
	position: relative;
	font-style: italic;
	font-size: 36px;
	letter-spacing: 1px;
	text-align: center;
	display: inline-block;
  }
  
  .nameInput {
	width: 180px;
  margin: 20px;	  
  font-size: 30px;
  font-weight: 200;
  color: #142867;
  background-color: white;
  border: white;
  border-bottom: 4px dotted black;
   font-family: arial;
}
.nameInput:focus {
	
  font-size: 30px;
  font-weight: 200;
  color: black;
  background-color: white;
  border: white;
  border-bottom: 5px dotted grey;
  outline:none;
}
  label {
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 32px; 
	color: black;
	 font-family: arial;
  }
  
  .intro{
	position: relative;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 32px; 
	color: black;
	padding-top: 10px;
	 font-family: arial;
  }
  
  /* .highlight{
	background-color: #e8976c;
	height: 30px;
	width: 700px;
	position: absolute;
	left: 50%;
	margin-left: -175px;
	text-align: center;
	top: 295px;
	z-index: 1;
  } */
  
  